@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.fa {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.fa-twitter {
    color: #00aced;
}
.fa-soundcloud {
    color: #ff7700;
}
.fa-instagram {
    color: #e95950;
}
.fa-spotify {
    color: #00e461;
}

.fa-twitter:hover,
.fa-instagram:hover,
.fa-spotify:hover,
.fa-soundcloud:hover {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 25%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul:before,
ul:after {
    content: "";
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-toggle {
    z-index: 3;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
    box-shadow: none;
}

.navbar {
    min-height: 120px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-default {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

#c {
    padding-top: 130px;
}
canvas {
    margin: auto;
    padding-top: 10px;
    display: block;
}

#brand {
    line-height: normal;
    color: #00bfff;
    font-family: Annie Use Your Telescope;
    letter-spacing: 10px;
    font-size: 5em;

    animation: background 20s linear infinite;
    background: -webkit-linear-gradient(transparent, transparent),
        linear-gradient(
            90deg,
            #ff3f3f,
            #ff8b3f,
            #ffef3f,
            #c2ff3f,
            #62ff3f,
            #4eff3f,
            #3fffc8,
            #3ff8ff,
            #3fafff,
            #3f5bff,
            #653fff,
            #a23fff,
            #d83fff,
            #ff3fcf,
            #ff3f58
        );
    background-size: 1500% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes background {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
@-webkit-keyframes background {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
@-ms-keyframes background {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
@-moz-keyframes background {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
@-o-keyframes background {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

@media (max-width: 1366px) {
    ul {
        width: 35%;
    }
    #c {
    padding-top: 170px;
}
}

@media (max-width: 767px) {
    #c {
    padding-top: 200px;
}
    ul {
        padding-top: 75px;
        padding-bottom: 50px;
        width: 100vw;
        height: 100%;
    }
    .navbar-collapse.in {
        overflow: hidden;
    }
    #navbar-collapse-1 {
        min-height: 100px;
    }
    .navbar-brand {
        height: 120px;
        font-size: 0.87em;
    }
    .navbar-header {
        height: 120px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

